@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Emoji:wght@300;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  color: #230A02;
  transition: 0.4s;
}

button {
  border: none;
  background: #230A02;
  color: #F9EDEA;
  padding: 0 1rem;
}

h1 {
  font-family: Inter;
}

body {
  background: #F9EDEA;
  overflow-x: hidden;
}

.noto {
  font-family: Noto Emoji;
  font-weight: 700;
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem 4vw;
}
nav .CTA {
  white-space: nowrap;
  height: 46px;
  border-radius: 0.6rem;
  cursor: pointer;
}
nav .CTA:hover {
  transform: scale(1.08);
}
nav .logo {
  height: 38px;
  cursor: pointer;
}
nav .logo:hover {
  transform: scale(1.15);
  filter: brightness(0);
}

.menu {
  flex-grow: 1;
  margin: 0 5vw;
  display: flex;
  gap: 0.4rem;
  background: #E5CFC7;
  padding: 0.4rem;
  font-weight: 500;
  border-radius: 0.6rem;
}
.menu span {
  text-align: center;
  border: 1px solid rgba(35, 10, 2, 0.2);
  border-radius: 0.4rem;
  padding: 0.4rem;
  flex-grow: 1;
  letter-spacing: 0.1vw;
  cursor: pointer;
}
.menu span:hover {
  border: 1px solid #230A02;
}

header {
  margin: 2rem 0rem;
}
header div {
  text-align: center;
  font-family: Inter;
  font-size: 7.5vw;
  letter-spacing: 1.5vw;
  font-weight: 900;
}
header .marquee {
  margin-top: 1.4rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
header .marquee span {
  font-family: Inter;
  font-size: calc(0.4rem + 1.4vw);
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.2rem;
  margin-left: 0.5rem;
  animation: marquee 14s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.presentation {
  margin: 4vw auto;
  gap: 1rem;
  max-width: 1200px;
  padding: 1rem;
  background: #E5CFC7;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
}
.presentation h2 {
  text-align: center;
  letter-spacing: 1vw;
  padding-top: 0.6rem;
  padding-bottom: 1.6rem;
}
.presentation div {
  display: flex;
  gap: 1rem;
}
.presentation div div {
  padding: 1rem 1.2rem;
  background: #230A02;
  color: #F9EDEA;
  border-radius: 1rem;
  height: calc(230px - 6vw);
  font-size: calc(0.6rem + 0.4vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation div img {
  border-radius: 1rem;
  width: calc(230px - 6vw);
  height: calc(230px - 6vw);
}

.diplomes {
  margin: 4vw auto;
  gap: 1rem;
  max-width: 1200px;
  padding: 1rem;
  background: #E5CFC7;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
}
.diplomes h2 {
  text-align: center;
  letter-spacing: 1vw;
  padding-top: 0.6rem;
  padding-bottom: 1.6rem;
}
.diplomes div {
  display: flex;
  gap: 1rem;
}
.diplomes div div {
  padding: 1rem 1.2rem;
  background: #230A02;
  color: #F9EDEA;
  border-radius: 1rem;
  height: calc(230px - 6vw);
  font-size: calc(0.6rem + 0.4vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 200px;
  background: #230A02;
  color: #F9EDEA;
}
footer h2 {
  color: #F9EDEA;
  text-align: center;
  letter-spacing: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 1rem;
}

@media (width < 600px) {
  .CTA {
    display: none;
  }
  .noto {
    display: unset;
  }
  .pc {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #F9EDEA;
}

::-webkit-scrollbar-thumb {
  background: #230A02;
  border: 5px solid #F9EDEA;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #230A02;
  border: 3px solid #F9EDEA;
}/*# sourceMappingURL=index.css.map */